
<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="defaultForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="projectLabel">Project Name</label>
          <input
            class="form-control"
            id="projectLabel"
            aria-describedby="projectHelp"
            placeholder="Enter Project Name"
            formControlName="projectName"
            required
            >
          <!-- Hataları Buraya Bu Şekilde Yazdırıyoruz. -->
          <div *ngIf="defaultForm.get('projectName').errors">
            <small
              id="projectHelp"
              class="form-text text-muted"
              *ngIf="defaultForm.get('projectName').errors.testAsName"
              >Test Name Hatası...</small>

            <small
              id="projectHelp"
              class="form-text text-muted"
              *ngIf="defaultForm.get('projectName').errors.berkAsName"
              >Async Berk Name Hatası</small>

            <!-- Touched olmadan hata gösterilmemesi için && kullanıldı. -->
            <small
              id="projectHelp"
              class="form-text text-muted"
              *ngIf="defaultForm.get('projectName').errors.required && defaultForm.get('projectName').touched"
              >Required Hatası</small>
          </div>

        </div>
        <div class="form-group">
          <label for="emailLabel">Email</label>
          <input
            class="form-control"
            id="emailLabel"
            placeholder="Enter Email"
            formControlName="email"
            required
            email
            >
            <div *ngIf="defaultForm.get('email').errors">
              <small
                id="projectHelp"
                class="form-text text-muted"
                *ngIf="defaultForm.get('email').errors.email"
                >Lütfen Geçerli Bir Email Girin...</small>

              <small
                id="projectHelp"
                class="form-text text-muted"
                *ngIf="defaultForm.get('email').errors.required && defaultForm.get('email').touched"
                >Required Hatası</small>

            </div>
        </div>
        <div class="form-group">
          <label class="my-1 mr-2" for="projectStatusLabel">Project Status</label>
          <select
            class="custom-select my-1 mr-sm-2"
            id="projectStatusLabel"
            formControlName="projectStatus"
            >
            <option value="Stable">Stable</option>
            <option value="Critical">Critical</option>
            <option value="Finished">Finished</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
